#mainCanvas {
    position: absolute;
    top: 50px;
    left: 50%;
    transform: translate(-50%, 0);
    border: solid black 2px;
}

#controlsContainer {
    position: absolute;
    bottom: 50px;
    left: 50%;
    transform: translate(-50%, 0);
}

#controls {
    display: flex;
}

#scoreboard {
    display: none;
    font-size: 30px;
    font-weight: bold;
}